<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.luka.android.studygroup" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GroupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="@string/lessons_title"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupActivity" />

        </activity>
        <activity
            android:name=".LessonActivity"
            android:label="@string/details_title"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseActivity" />
        </activity>
        <activity
            android:name=".NotePagerActivity"
            android:label="@string/notes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonActivity" />
        </activity>
        <activity
            android:name=".QuestionPagerActivity"
            android:label="@string/questions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonActivity" />
        </activity>
    </application>

</manifest>
