<?xml version="1.0" encoding="utf-8"?>
<manifest package="rs.luka.android.studygroup"
    xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.singleitemactivities.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.singleitemactivities.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.singleitemactivities.LoadingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.recyclers.GroupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.recyclers.CourseActivity"
            android:label="@string/lessons_title"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.GroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.GroupActivity" />
        </activity>
        <activity
            android:name=".ui.recyclers.ScheduleActivity"
            android:label="@string/schedule_title"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.GroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.GroupActivity" />
        </activity>
        <activity
            android:name=".ui.recyclers.LessonActivity"
            android:label="@string/details_title"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.CourseActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.NotePagerActivity"
            android:label="@string/notes"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.LessonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.LessonActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.QuestionPagerActivity"
            android:label="@string/questions"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.LessonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.LessonActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.AddGroupActivity"
            android:label="@string/add_group"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.singleitemactivities.LoadingActivity"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.singleitemactivities.LoadingActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.AddCourseActivity"
            android:label="@string/add_course"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.GroupActivity"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.GroupActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.AddNoteActivity"
            android:label="@string/add_note"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.LessonActivity"
            android:windowSoftInputMode="stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.LessonActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.AddQuestionActivity"
            android:label="@string/add_question"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.LessonActivity"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recyclers.LessonActivity" />
        </activity>
        <activity
            android:name=".ui.singleitemactivities.AddExamActivity"
            android:label="@string/add_exam"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.ScheduleActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.luka.android.studygroup.ui.recyclers.ScheduleActivity" />
        </activity>
        <!--<activity
            android:name=".ui.recyclers.ExamQuestionsActivity"
            android:label="@string/questions"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.recyclers.ScheduleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.luka.android.studygroup.ui.recyclers.ScheduleActivity" />
        </activity>-->
        <activity
            android:name=".ui.recyclers.SelectCourseActivity"
            android:label="@string/select_course"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.singleitemactivities.FullscreenImageActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.recyclers.MemberListActivity"
            android:label="@string/title_activity_member_list"
            android:parentActivityName=".ui.recyclers.GroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.luka.android.studygroup.ui.recyclers.GroupActivity"/>
        </activity>
        <activity android:name=".ui.recyclers.HistoryActivity"
                  android:label="@string/recent_edits" />

        <activity android:name=".ui.recyclers.GroupSearchActivity"
                  android:label="@string/search_results"
                  android:parentActivityName=".ui.recyclers.GroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.luka.android.studygroup.ui.recyclers.GroupActivity" />
        </activity>
        <activity android:name=".ui.singleitemactivities.UserInfoActivity"
                  android:label="@string/my_info"
                  android:parentActivityName=".ui.recyclers.GroupActivity"
                  android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.luka.android.studygroup.ui.recyclers.GroupActivity" />
        </activity>
        <activity android:name=".ui.singleitemactivities.EditUserInfoActivity"
                  android:label="@string/edit_my_info"
                  android:parentActivityName=".ui.singleitemactivities.UserInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.luka.android.studygroup.ui.singleitemactivities.UserInfoActivity" />

        </activity>

    </application>

</manifest>
